[Unit]
Description=Start up RobotFramework
After=network.target

# %h to expand to home dir
[Service]
ExecStart=%h/RobotFramework/scripts/startup.sh
WorkingDirectory=%h/RobotFramework
Restart=always
RestartSec=3s

# Needed if service runs autmoatically in startup
[Install]
WantedBy=multi-user.target